{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Checklist</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'jumbotron/jumbotron.css' %}" rel="stylesheet">

    <link href="{% static 'bootstrap/css/dropdown.css' %}" rel="stylesheet">

    <link href="{% static 'bootstrap/js/bootstrap.min.js' %}" rel="stylesheet">

    <link href="{% static 'bootstrap/js/dropdown.js' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Inspeção por Checklist</a>
        </div>
        <!--div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Senha" class="form-control">
            </div>
            <button type="Entrar" class="btn btn-primary" href="{% url 'Usuario:config' %}">Entrar</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Sobre</h1>
        <p>Essa ferramenta foi desenvolvida na disciplina de Trabalho de Conclusão de Curso na PUC Minas como requisito parcial para obtenção do título de bacharel de Sistemas de informação e propoem-se auxiliar na avaliação preditiva de interfaces, fornecendo um ambiente onde é possivél criar e responder checklists.
        Este trabalho tem como propósito apoiar o processo de desenvolvimento de software, auxiliando na identificação de erros de usabilidade da interface. 
        </p>
        <!--p><a class="btn btn-primary btn-lg" href="{% url 'Usuario:cadastro' %}" role="button">Cadastre-se &raquo;</a></p-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <!--h2>Usuário</h2>
          <p></p-->
          <p><a class="btn btn-default" href="{% url 'Usuario:cadastro' %}" role="button">Usuario &raquo;</a></p>
        </div>
        <div class="row">
          <div class="col-md-4">            
            <!--h2>Cadastre-se</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p-->
            <p><a class="btn btn-default" href="{% url 'Sistema:cadastroSistema' %}" role="button">Sistema &raquo;</a></p>
        </div>
        <!--div class="col-md-4">
          <!--h2>Checklist</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p-->
          <!--p><a class="btn btn-default" href="#" role="button">Checklist &raquo;</a></p>
        </div>
      </div>
    
      <!--Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <!--h2>Cadastre-se</h2>
          <p>Para utilizar nossa ferramenta, cadastre-se. </p-->
          <p><a class="btn btn-default" href="{% url 'Avaliacao:checkindex' %}" role="button">Checklist &raquo;</a></p>
        </div>        
      <hr>
    
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
   
  </body>
</html>
