<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Home</title>		
		<link rel ="stylesheet" href="d:/estilo.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
		<meta charset="utf-8"/>
	</head>	
	<body>
		<div>
			<p><center><b><font size = 5/>Projeto de conclusão de curso</b></center></p>	
		</div>
		<div>
			<font size = 3/>
			<p>
                Esse projeto foi desenvolvido como requisito parcial para obtenção do grau de bacharel de Sistemas de Informação
            </p>
            
            <p>
                O objetivo desse trabalho é desenvolver uma ferramenta para avaliação preditiva de interface,
				utilizando o método de avaliação por checklist, possibilitando o cadastro de questionários personalizados
				e a geração de relatorios.
            </p>
            
            <p>
                O projeto foi desenvolvido na linguagem Python, utilizando o framework Django
            </p>
            
            <p>
                <u><b>Observação:</b></u><br />
                O projeto utiliza o <b>Django 1.10.6</b> e suas bibliotecas nativas.
            </p>
		</div>
		<div>
			<a href = "cadastro">Registre-se</a>
		</div>
	</body>