{% extends 'base.html' %}
{% block content %}
<form action="{% url 'Sistema:sistema_list' %}" class="form-signin" method="post">
{% csrf_token %}
    <div class="post-preview">
        <h2 class="post-title">
          Aqui uma lista de todos os sistemas cadastrados
        </h2>
         <p class="post-meta">Clique no nome para consultar o relatório</p>
         <p>Inserir um <a href="{% url 'Sistema:cadastroSistema' %}">novo Sistema?</a></p>
    </div>
    <hr>


 		{% for sistema in form %}
        <div class="post-preview">
 			<div class="post-preview">
    			<h4>
                <p class="post-title"><a href="{% url 'Sistema:cadastroSistema' %}">
                {{ sistema.nome }}</a></p>
 				</h4>
 				<!--p class="post-meta"> <a href="{% url 'Sistema:cadastroSistema' %}">Editar</a></p-->
 				<!--p class="post-meta"><a href="{% url 'Sistema:cadastroSistema' %}">Relatorio</a></p-->
    	<hr>
 			</div>
 		</div>
 <!-- Pager -->
	<!--div class="row">
    	<div class="form-group col-xs-12">
        	<h1 align="left"><button type="submit" class="btn btn-default" href="#">Editar</button></h1>
        </div>
     </div>
    <div class="row">
        <div class="form-group col-xs-12">
            <h1 align="left"><button type="submit" class="btn btn-default" href="#">relatorio</button></h1>
         </div>
     </div-->
{% endfor %}
{% endblock %}