{% extends 'base.html' %}
{% block content %}
<form action="{% url 'Usuario:cadastro' %}" class="form-signin" method="post">
{% csrf_token %}
  <h2 class="form-signin-heading">Cadastre-se</h2>
  <!--label>Nome</label-->
  {{ form.first_name }}
  {{ form.first_name.errors }}  
  <!--label>Sobrenome</label-->
  {{ form.last_name }}
  {{ form.last_name.errors }}
  <!--label>Email</label-->
  {{ form.email}}
  {{ form.email.errors }}
  <option value="Especialista" name= "Especialista"></option>
  <option value="Avaliador" name = "Avaliador"></option>  
  </section>
  {{ form.categoria }}
  {{ form.categoria.errors }}
  <label></label>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
</form>
{% endblock %}